<br />
<div id="search" class="rounded">
<form action=<%= r(:user_report) %> method="post">
  Start Date: <br />
  <input type="text" name="date_start" id="cdrbegin" size=10><br />
   End Date: <br />
  <input type="text" name="date_end" id="cdrend" size=10><br />
  Username (Extension): <br /> 
  <input type="text" name="username" size=16><br />
  and/or<br />
  Phone Num<br />
  <input type="text" name="phone_num" size=11><br />
  <br />
  <input type="submit" value="Submit">
</form>
</div>
